@charset "ISO-8859-1";



.button-search {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px -80px ;
    cursor: pointer;
}

.button-send {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px ;
    cursor: pointer;
}


.input-text{
	width: 40%;
    padding: 12px 20px;
    margin: 30px 160px;
    box-sizing: border-box;
    border: none;
    background-color: #008CBA;
    color: white;
    font-size: 16px;
}

.myTable {
    width: 80%;
   	margin: 30px 140px;
}