<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Autorização de Pedidos</title>
	<link rel="stylesheet" type="text/css" href="style/layout.css" />
</h:head>

<body>
	<h:form id="autorizaSolicitacao">
		<p:growl id="msgs" showDetail="true" />

		<p:dataTable emptyMessage="Nenhuma Solicitacao Encontrada"
			value="#{pedidoBean.listasolicitacao}" styleClass="myTable"
			sortOrder="descending" id="dataTableSolicitacao" var="solicitacao"
			scrollable="true" scrollHeight="150" rowKey="#{pedido.codigoPedido}">
			<f:facet name="header">
          		Pedidos
        	</f:facet>

			<p:column headerText="Código">
				<h:outputText value="#{pedido.codigoPedido}" />
			</p:column>

			<p:column headerText="Data:">
				<h:outputText value="pedido.data" />
			</p:column>

			<p:column headerText="Unidade Pertencente">
				<h:outputText value="pedido.unidPertencente" />
			</p:column>

			<p:column headerText="Produto:">
			<h:outputText value="pedido.nomeProduto" />
			</p:column>

			<p:column style="width:32px;text-align: center">
				<p:commandButton update="dadosPedidos"
					oncomplete="PF('dadosPedido').show()" icon="ui-icon-search"
					title="View">
					<f:setPropertyActionListener value="" target="" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>

	<h:form id="dadosPedidos">
		<p:dialog header="Dados do Pedido" widgetVar="dadosPedido"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false">

			<h:outputText value="Id:" />
			<h:outputText value="produto.codigoPedido" />

			<h:outputText value="Unidade Destinataria:" />
			<h:outputText value="pedido.unidDestinataria" />

			<h:outputText value="Unidade Pertencente:" />
			<h:outputText value="pedido.unidPertencente" />

			<h:outputText value="Data" />
			<h:outputText value="pedido.data" />

			<h:outputText value="Produto" />
			<h:outputText value="pedido.nomeProduto" />

			<h:outputText value="Tipo do Produto" />
			<h:outputText value="pedido.tipoProduto" />

			<h:outputText value="Quantidade" />
			<h:outputText value="pedido.quantidade" />

			<h:outputText value="Observação" />
			<p:inputText id="obsPedido" value="#{autorizacaoBean.observacao}" />

			<p:commandButton process="" value="Permitir"
				update="autorizaSolicitacao"
				action="#{atuorizacaoBean.autorizarPedido}" />
			<p:commandButton process="" value="Negar"
				update="autorizaSolicitacao"
				action="#{autorizacaoBean.negarPedido}" />

		</p:dialog>
	</h:form>
</body>
</html>
