<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Consulta de Produtos</title>
	<link rel="stylesheet" type="text/css" href="style/layout.css" />
	
</h:head>

<h:body>

	<h:form id="produtoForm">
		<p:dataTable emptyMessage="Nenhum Registro Encontrado"
			styleClass="myTable" sortBy="#{produto.unidade}"
			sortOrder="descending" id="dataTableProduto" var="produto"
			value="#{consultaBean.listaBuscaProduto}" scrollable="true"
			scrollHeight="150" rowKey="#{produto.codigo}">
			<f:facet name="header">
          		Produtos
        	</f:facet>

			<p:column headerText="Código">
				<h:outputText value="#{produto.codigo}" />
			</p:column>

			<p:column headerText="Descrição">
				<h:outputText value="#{produto.nome}" />
			</p:column>

			<p:column headerText="Descricao Detalhada">
				<h:outputText value="#{produto.descricao}" />
			</p:column>

			<p:column headerText="Tipo">
				<h:outputText value="#{produto.tipo}" />
			</p:column>

			<p:column headerText="Cidade">
				<h:outputText value="#{produto.unidade}" />
			</p:column>

			<p:column headerText="Quantidade Disponível">
				<h:outputText value="#{produto.quantidade}" />
			</p:column>

		</p:dataTable>
	</h:form>
</h:body>
</html>