<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>

	<title>Almoxarifado Central</title>

</h:head>

<h:body>
	<h:form>
		<h:outputText value="ALMOXARIFADO CENTRAL"/>
	</h:form> 
</h:body>

</html>