<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>

	<title>Almoxarifado Local</title>

</h:head>

<h:body>
	
	
	<p:layout fullPage="true"	>
    <p:layoutUnit position="west" resizable="false" size="240" >
        
       
    	<h:form>  
    	 <h:outputText value="#{autenticacaoBean.exibirUsuario()}"/> 
    		<p:menu>
        		<p:submenu label="Menu Principal">
        			<p:menuitem value="Página Inicial" action="index.xhtml"/>
            		<p:menuitem value="Requisitar Produtos" action="solicitacaoItemProduto.xhtml"/>
            		<p:menuitem value="Sair" action="#{autenticacaoBean.deslogarUsuario()}"/>
        		</p:submenu>
    		</p:menu>
    	</h:form>
        
        
    </p:layoutUnit>
 
    <p:layoutUnit position="center">
    
    <h:outputLabel value="Página inicial do Almoxarifado Local"/>
    
    </p:layoutUnit>
    </p:layout>
    
	

</h:body>

</html>