<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>

	<title>Página Inicial</title>

</h:head>

<h:body>

	<p:layout fullPage="true"	>
    <p:layoutUnit position="west" resizable="false" size="240" >
        
      
    	<h:form id="formMenu" rendered="#{autenticacaoBean.isLogado()}"> 
    	 <h:outputText value="#{autenticacaoBean.exibirUsuario()}"/> 
    		<p:menu>
        		<p:submenu label="Menu Principal">
        			<p:menuitem value="Página Inicial" action="index.xhtml"/>
            		<p:menuitem value="Requisitar Produtos" action="solicitacaoItemProduto.xhtml"/>
            		<p:menuitem value="Sair"/>
        		</p:submenu>
    		</p:menu>
    	</h:form>
        
        
    </p:layoutUnit>
 
    <p:layoutUnit position="center">
    
   <h:form   id="formLogin" rendered="#{!autenticacaoBean.isLogado()}">
    <p:growl id="growl" sticky="false" showDetail="true" life="7000"/>	
	<p:panel id="login" header="Autenticação" style="width:500px;height:240px">
        <h:panelGrid columns="2" cellpadding="12">
            <h:outputText value="E-mail:" maxlength="40" size="100" />
            <h:inputText placeholder="Digite seu email..." value="#{autenticacaoBean.email}" required="true" requiredMessage="Digite seu email"/>
            <h:outputText value="Senha:" />
            <h:inputText placeholder="Digite sua senha..." value="#{autenticacaoBean.senha}" required="true" requiredMessage="Digite a Senha" />
             <h:commandButton value="Entrar" id="loginButton" action="#{autenticacaoBean.autenticarAlmoxarifado}" ajax="false" update="growl" />
        </h:panelGrid>
    </p:panel>
	</h:form>
    
    </p:layoutUnit>
    </p:layout>




	
	
	 
	
</h:body>
</html>