<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>

<title>Solicitação de Itens de Produto</title>
<link rel="stylesheet" type="text/css" href="style/layout.css"/>
</h:head>

<h:body>



<p:layout fullPage="true"	>
    <p:layoutUnit position="west" resizable="false" size="240" >
        
    
    	<h:form>  
    	 <h:outputText value="#{autenticacaoBean.exibirUsuario()}"/> 
    		<p:menu>
        		<p:submenu label="Menu Principal">
        			<p:menuitem value="Página Inicial" action="index.xhtml"/>
            		<p:menuitem value="Requisitar Produtos" action="solicitacaoItemProduto.xhtml"/>
            		<p:menuitem value="Sair" action="#{autenticacaoBean.deslogarUsuario()}"/>
        		</p:submenu>
    		</p:menu>
    	</h:form>
        
        
    </p:layoutUnit>
 
    <p:layoutUnit position="center">
       
       
	<h:form>
	
		<h:inputText styleClass="input-text" placeholder="Pesquisa" binding="#{inputBusca}"/>
		<h:commandButton styleClass="button-search"  action="#{produtoBean.buscarProduto(inputBusca.value)}" value="Buscar" />
	</h:form>

	<h:form id="produtoForm">
        <p:dataTable  emptyMessage="Nenhum Registro Encontrado" styleClass="myTable" sortBy="#{produto.unidade}" sortOrder="descending" id="dataTableProduto" var="produto" value="#{produtoBean.listaBuscaProduto}"  scrollable="true" scrollHeight="150" selectionMode="single" rowKey="#{produto.codigo}">
        	<f:facet name="header">
          		Produtos
        	</f:facet>
        	
        	<p:ajax event="rowSelect" listener="#{produtoBean.onRowSelect}" />
        
        	<p:column headerText="Código">
           		<h:outputText value="#{produto.codigo}" />
            </p:column>
        
        	<p:column headerText="Descrição">
            	<h:outputText value="#{produto.nome}" />
        	</p:column>
        
        	<p:column headerText="Descricao Detalhada">
          	<h:outputText value="#{produto.descricao}" />
        	</p:column>
        
        	<p:column headerText="Tipo">
        	<h:outputText value="#{produto.tipo}" />
         	</p:column>
        
        	<p:column headerText="Cidade">
        	<h:outputText value="#{produto.unidade}" />
         	</p:column>
         	
         	<p:column headerText="Quantidade Disponível">
        	<h:outputText value="#{produto.quantidade}" />
         	</p:column>
    
        	<f:facet name="footer">
				<p:commandButton process="dataTableProduto" value="Adicionar" update="solicitacaoProdutoForm" action="#{produtoBean.eventoAdicionarProduto()}"/>
			
        	</f:facet>
          	
          	<p:ajax event="rowSelect" listener="#{produtoBean.onRowSelect}" />
          	
    	</p:dataTable>
  	</h:form>		

<h:form id="solicitacaoProdutoForm" >
	<p:dataTable  emptyMessage="Nenhum Registro Encontrado" styleClass="myTable" id="datatableSolicitacao" var="produto" value="#{produtoBean.listaSolicitacao}"  scrollable="true" scrollHeight="150" selectionMode="single" rowKey="#{produto.codigo}">
    	<f:facet name="header">
          	Solcitação de Itens de Produto
        </f:facet>
        
        <p:ajax event="rowSelect" listener="#{produtoBean.onRowSelectRemove}" />
        
        <p:column headerText="Código">
           <h:outputText value="#{produto.codigo}" />
        </p:column>
        
        <p:column headerText="Descrição">
            <h:outputText value="#{produto.nome}" />
        </p:column>
        
        <p:column headerText="Descrição Detalhada">
          <h:outputText value="#{produto.descricao}" />
        </p:column>
        
        <p:column headerText="Tipo">
        <h:outputText value="#{produto.tipo}" />
        </p:column>
        
        <p:column headerText="Cidade">
        <h:outputText value="#{produto.unidade}" />
        </p:column>
        
        <p:column headerText="Quantidade Solicitada">
       
      	<p:inputNumber value="#{produto.quantidade}" required="true"   requiredMessage="Por favor, insira a quantidade requisitada">
      	 <f:ajax />
      	</p:inputNumber>
      
        </p:column>
     	<h:inputText/>
       
        
        <f:facet name="footer">

			<p:commandButton value="Remover"   update="solicitacaoProdutoForm" action="#{produtoBean.eventoRemoverProduto()}"/>
			
        </f:facet>
    
	</p:dataTable>
   
	<h:form>           
    <p:growl  id="message" showDetail="true" />
    	<p:commandButton styleClass="button-send" value="Enviar Solicitação" actionListener="#{produtoBean.enviarPedidoSolicitacaoProduto()}" update="message" action="index.xhtml">
        	<p:confirm header="Confirmação" message="Você tem certeza que deseja enviar a solicitação de itens de produto?" icon="ui-icon-alert" />
    	</p:commandButton>
 
    	<p:confirmDialog  global="true" showEffect="fade" styleClass="apply" hideEffect="fade">
        	<p:commandButton  value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        	<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    	</p:confirmDialog>
	</h:form>
    
</h:form>		

	<p:dialog header="Aviso!" widgetVar="dlg1" minHeight="40">
    	<h:outputText value="Esse item de produto já foi adicionado ao pedido de solicitação de produtos!" />
	</p:dialog>
       
       
       
    </p:layoutUnit>
</p:layout>



	
	


</h:body>
</html>